@import "reset.css";
@import "contact.css";
@import "resume.css";
@import "skills.css";
@import "projects.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Variables */
:root {
  --bg-color: rgba(230, 230, 230, .10);
  --base-gold: #FFD700;
  --blue-shade: #1259B3;
  --bright-blue: #0D78FF;
  --bright-blue-sub: #0cbdff;
  --dark-purple: #7712B3;
  --purple: #A50DFF;
  --light-purple: #9930d7;
  --offblack: #1b1b1b;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
  width: 100%;
  margin: 0;
  font-family: "Lato", "Monospace", "Roboto", sans-serif;
  /* transition: all .3s ease-in-out; */
  /* transform: translateX(150px); */
}
a {
  color: var(--offblack);
  text-decoration: none;
}

 /* NAV BAR START */
nav {
  width: 150px;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  /* transform: translateX(-100%); */
/* box-shadow color rgba(0,0,0,0.51) */
  transition: all .3s ;
}
nav .topic:nth-child(1) {
  /* background-color: red; */
  margin-top: 20px;
}
nav .topic {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .topic a {
  padding: 16px 8px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: color .3s ease-in, background-color .3s ease-in;
}
nav .topic a:hover {
  background-color: var(--purple);
}

nav .topic a svg {
  font-size: 28px;
  margin-bottom: 4px;
}
nav .topic a:hover svg {
  color: var(--bright-blue-sub);
}
nav .topic a .topic-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--blue-shade);
}
nav .topic a:hover .topic-title {
  color: var(--base-gold);
}
/* NAV BAR END */
/* CONTENT AREA START */
/* HEADER START */
.content-area {
  width: calc(100% - 150px);
  height: 100vh;
  background-color: rgba(230, 230, 230, .10);
  position: absolute;
  right: 0;
  /* margin: 14px 0; */
  padding: 20px 50px;
}
.content-area header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  height: 100vh;
  width: 100%;
  position: relative;
}
.content-area header .header-img {
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;

}
.content-area header h1  {
  font-size: 42px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid rgba(230, 230, 230, .50);;
  color: #ffd700;
  background-color: #0cbdff;
  padding: 52px 20px;
  position: absolute;
  z-index: 3;
}
.content-area header .down {
  width: 50px;
  height: 50px;
  /* background: blue; */
  /* align-self: flex-end; */
  position: relative;
  z-index: 3;
  transform: translateY(150px);
  cursor: pointer;
  animation: down-arrow .7s ease-in-out .5s alternate infinite none running;
  opacity: 0;

}
@keyframes down-arrow {
  from {
    transform: translateY(150px);
    opacity: .1;
  }
  to {
    transform: translateY(200px);
    opacity: 1;
  }
}
.content-area header .down .bi-arrow-down-circle {
  font-size: 50px;
  color: var(--base-gold);

}
/* ARROW ANIMATION */
.content-area .burger-menu {
  /* background: red; */
  position: absolute;
  top: 36px;
  right: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  /* display: none; */
  opacity: 0;
}
.content-area .burger-menu i {
  font-size: 28px;
  color: var(--blue-shade);
}
/* HEADER END*/


@media only screen and (max-width: 768px) {
  nav{
    /* background-color: lightblue; */
    transform: translateX(-100%);
  }
  .content-area {
    width: 100%;
    /* height: 100vh; */
    /* background-color: rgba(230, 230, 230, .10); */
    /* position: absolute; */
    /* right: 0; */
    /* margin: 14px 0; */
  }
  .content-area .burger-menu {
    opacity: 1;
  }
}