@import "reset.css";
@import "contact.css";
@import "resume.css";
@import "skills.css";
@import "projects.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Variables */
:root {
  --bg-color: rgba(230, 230, 230, .10);
  --base-gold: #FFD700;
  --blue-shade: #1259B3;
  --bright-blue: #0D78FF;
  --bright-blue-sub: #0cbdff;
  --dark-purple: #7712B3;
  --purple: #A50DFF;
  --light-purple: #9930d7;
  --offblack: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Lato", "Monospace", "Roboto", sans-serif;
  /* transform: translateX(150px); */
}
a {
  color: var(--offblack);
  text-decoration: none;
}

 /* NAV BAR START */
nav {
  width: 150px;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.51);
  /* transform: translateX(-100%); */
/* box-shadow color rgba(0,0,0,0.51) */
  transition: all .3s ;
}
nav .topic:nth-child(1) {
  /* background-color: red; */
  margin-top: 20px;
}
nav .topic {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .topic a {
  padding: 16px 8px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: color .3s ease-in, background-color .3s ease-in;
}
nav .topic a:hover {
  background-color: var(--purple);
}

nav .topic a svg {
  font-size: 28px;
  margin-bottom: 4px;
}
nav .topic a:hover svg {
  color: var(--bright-blue-sub);
}
nav .topic a .topic-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--blue-shade);
}
nav .topic a:hover .topic-title {
  color: var(--base-gold);
}
/* NAV BAR END */
/* CONTENT AREA START */
/* HEADER START */
.content-area {
  width: calc(100% - 150px);
  height: 100vh;
  background-color: rgba(230, 230, 230, .10);
  position: absolute;
  right: 0;
  margin: 14px 0;
}
.content-area header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.content-area header h1  {
  font-size: 42px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid rgba(230, 230, 230, .50);;
  color: #ffd700;
  background-color: #0cbdff;
  padding: 52px 20px;
}
.content-area .burger-menu {
  /* background: red; */
  position: absolute;
  top: 36px;
  right: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  /* display: none; */
  opacity: 0;
}
.content-area .burger-menu i {
  font-size: 28px;
  color: var(--blue-shade);
}
/* HEADER END*/


@media only screen and (max-width: 768px) {
  nav{
    /* background-color: lightblue; */
    transform: translateX(-100%);
  }
  .content-area {
    width: 100%;
    /* height: 100vh; */
    /* background-color: rgba(230, 230, 230, .10); */
    /* position: absolute; */
    /* right: 0; */
    /* margin: 14px 0; */
  }
  .content-area .burger-menu {
    opacity: 1;
  }
}